body {
    padding: 20px 30px;
    font: 12px/1.4 'PingFangSC-Regular','PingFang SC','Helvetica Neue','Helvetica','Microsoft YaHei', 'Arial','Hiragino Sans GB', sans-serif
}

#lottie {
    width: 300px; 
    border: 1px solid #ccc; 
    margin: 20px;
}

ul {
    color: #333;
    font-size: 11px;
}

button {
    display: inline-block;
    width: 100px;
    height: 30px;
}

button:active {
    font-weight: bold;
    background-color: #fff;
    cursor: pointer;
}

.container {
    font-size: 13px;
    padding: 0 10px;
}

.container p {
    padding-left: 10px;
    padding-bottom: 5px;
    margin: 0px;
    font-size: 12px;
    color: #555;
}

.container p::before {
    content: '👧 ';
}

label {
    margin-top: 5px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
    background-color: red;
    border-color: red;
    border-radius: 10px;
}

label::before {
    content: " ";
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    position: absolute;
    right: 22px;
    top: 2px;
    background-color: #fff;
    transition: all 0.4s ease;
    cursor: pointer;
}

input {
    display: none;
}

input:checked+label {
    background-color: rgb(19, 206, 102);
    border-color: rgb(19, 206, 102);
}

input:checked+label::before {
    right: 2px;
}

#cbText {
    color: orange;
    font-weight: bold;
    vertical-align: super;
}